.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f8f9fa; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar > img {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.find {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    max-width: 500px;
    margin: 0 20px;
}

.find input {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
    transition: border-color 0.3s;
}

.find input:focus {
    border-color: #007bff;
    outline: none;
}

.fa-search {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sign {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.sign button {
    background-color: transparent;
    font-size: 16px;
    border: 1px solid black;
    padding: 8px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sign button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .find {
        max-width: 100%;
        margin: 10px 0;
    }

    .sign {
        margin: 10px 0;
    }

    .navbar > img {
        margin-left: 0;
    }
}
